html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "TT Lakes";
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/TTLakes-Regular.woff2") format("woff2"),
       url("./fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/TTLakes-Bold.woff2") format("woff2"),
       url("./fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
  font-family: 'TT Lakes';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/TTLakes-Black.woff2") format("woff2"),
       url("./fonts/TTLakes-Black.woff") format("woff");
}

body {
    margin: 0 auto;
    font-family: "TT Lakes", "Arial", sans-serif;
  }

  .wrapper {
    min-width: 320px;
    margin: 0 auto;
    position: relative;
  }

.header-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-right: 17px;
  cursor: pointer;
  transition: opacity 0.7s;
}

.header-button:hover {
  opacity: 0.7;
}

.logo {
  margin-right: auto;
  cursor: pointer;
  transition: opacity 0.7s;
}

.logo:hover {
  opacity: 0.7;
}

.link {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  transition: opacity 0.7s;
}

.link:hover {
  opacity: 0.7;
}

.link:last-child {
  margin-right: 0;
}

.call {
  background-image: url(./images/call.svg);
}

.chat {
  background-image: url(./images/chat.svg);
}

.profile {
  background-image: url(./images/profile.svg);
}

.close {
  background-image: url(./images/close.svg);
}

.find {
  background-image: url(./images/search.svg);
}

.sidebar {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* display: none; */
  background-color: #FFFFFF;
  box-shadow: 
  16px 0 52px 0 #0E185033,
  -2px 0 4px 0 #454F7E05;
}

.sidebar__header {
  display: flex;
  margin: 0 24px;
}

.close_indent {
  margin-top: 23px;
}

.find_indent {
  margin-top: 23px;
  margin-right: 0;
}

.logo_indent {
  margin-top: 19px;
}

.sidebar__services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin: 50px auto auto 24px;
  padding: 0;
}

.sidebar__servis-item {
  margin-bottom: 32px;
  position: relative;
}

.sidebar__servis-link {
  text-decoration: none;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  transition: opacity 0.7s, color 0.7s;
}

.sidebar__servis-link:hover {
  opacity: 0.7;
  color: #7E7E82;
}

.sidebar__servis-item:hover .sidebar__servis-link::before {
  content: "";
  position: absolute;
  left: -24px;
  top: -4px;
  width: 4px;
  height: 32px;
  background-image: url(./images/highlight.png);
  background-size: 4px 30px;
  background-repeat: no-repeat;
}

.sidebar__communication {
  margin-left: 24px;
  margin-bottom: 40px;
}

.sidebar__communication-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.sidebar__communication-item {
  margin-right: 16px;
}

.sidebar__email {
  margin: 0 0 12px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.sidebar__phone {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.language {
  margin: 0;
  margin-left: 24px;
  padding: 0;
  display: flex;
  list-style: none;
}

.language__item {
  margin-right: 7px;
}

.language__switch {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #1B1C21;
  transition: opacity 0.7s;
}

.language__switch:hover {
  opacity: 0.7;
}

.language__switch:active {
  color: #7E7E82;
}